<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/yalini/Documents/Learning_Sathya/org.smartbazzar2.com">
        <classes>
            <class name="TestRunner.TestRunner1"></class>
        </classes>
    </test>
</suite>